.shadow {
    filter: brightness(0%) blur(0.7rem);
}

.dead {
    filter: blur(0.05rem) saturate(0);
    transform: rotate(90deg);
}

.loseTint {
    filter: brightness(0.25);
}

.nursery {
    filter: saturate(0.5);
    opacity: 0.25;
}